*{
    padding: 0px;
    margin: 0px;
  

   
}

body{

}


.areabet{
background-image: url("https://img.freepik.com/free-vector/white-abstract-wallpaper_23-2148830026.jpg");
background-repeat: no-repeat;
background-size: cover;
}